.container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0;
}

.list-item {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  border: 1px solid lightgray;
  padding: 0.5rem;
  cursor: pointer;
}

.list-item:hover {
  background-color: lightgray;
}

.selected {
  background-color: lightgray;
}
